.product-item {
  display: grid;
  grid-template-columns: 1fr 120px 80px;
  align-items: center;
  gap: 12px;
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  border: 1px solid #ffedd5;
}

.product-name {
  font-size: 14px;
  font-weight: 600;
  color: #374151;

  overflow: hidden;
}

.product-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.buy-btn {
  background-color: #f97316;
  color: white;
  text-align: center;
  padding: 8px 0;
  border-radius: 6px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}